
  <div class="row">
    <div class="col-12">
      <div style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        ">
        <h4 class="m-3" style="font-weight: 700">Yangi murjaatlar ro'yhati</h4>
        <a href="/api/contact/seen" class="btn btn-primary waves-effect waves-light" 
          data-target=".bs-example-modal-lg">
          Ko'rib chiqilganlar  ro'yhati
        </a>
      </div>
      <div class="card m-b-30">
        <div class="card-body">
          <table id="datatable" class="table table-bordered text-center"
            style="border-collapse: collapse; border-spacing: 0; width: 100%">
            <thead>
              <tr>
                <th>Ism</th>
                <th>Yaratilgan sana</th>
                <th style="width: 15%">Sozlamalar</th>
              </tr>
            </thead>
            <tbody>
              <% for(let item of result) {%>
                <tr>
                  <td>
                    <%= item.name %>
                  </td>
                  <td>
                    <%= moment(item.createdAt).format("DD-MM-YYYY - hh:mm:ss") %>
                  </td>
                  <td style="
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                  ">
                    <form method="POST" class="hidden-r" action="<%=`/api/contact/${item._id}?_method=PUT`%>">
                      <button type="submit" class="btn btn-warning">
                        <i class="fas fa-cog"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
