<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>SmartEDU - Education Responsive HTML5 Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="/js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->

</head>
<body class="host_version"> 

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
	
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">bosh menu</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">kurslarimiz</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/courses/ielts">Ieltsga Tayyorlov</a>
								<a class="dropdown-item" href="/courses/test">Testga Tayyorlov </a>
								<a class="dropdown-item" href="/courses/maktab">Prizident Maktabiga Tayyarlov</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Yangiliklar </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="/single">Muhim Yangiliklar </a>
								<a class="dropdown-item" href="/blog">Yangiliklar </a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="/teachers">Uztozlarimiz</a></li>
						<li class="nav-item"><a class="nav-link" href="/contact">Biz bilan bog'lanish</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="#" data-toggle="modal" data-target="#login"><span>SmartEdu@gmail.com</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

            <%- body%>
        
            <div class="parallax section dbcolor">
                <div class="container">
                    <div class="row logos">
                        <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                            <a href="#"><img src="/images/logo_01.png" alt="" class="img-repsonsive"></a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                            <a href="#"><img src="/images/logo_02.png" alt="" class="img-repsonsive"></a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                            <a href="#"><img src="/images/logo_03.png" alt="" class="img-repsonsive"></a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                            <a href="#"><img src="/images/logo_04.png" alt="" class="img-repsonsive"></a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                            <a href="#"><img src="/images/logo_05.png" alt="" class="img-repsonsive"></a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                            <a href="#"><img src="/images/logo_06.png" alt="" class="img-repsonsive"></a>
                        </div>
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end section -->
        
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Biz haqimizda</h3>
                                </div>
                                <p> Biz SmartEdu jamoasi ko'p yillardan buyon faoliyat olib borayotgan va ko'plab o'quvchilarni yetishtirib chiqqan Samarqandagi eng yahshi o'quv markazlaridan birimiz. Biz sizni yuqori marralarga chiqishingizga yordam berishga tayyormiz!!!  </p>   
                                <div class="footer-right">
                                    <ul class="footer-links-soi">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul><!-- end links -->
                                </div>						
                            </div><!-- end clearfix -->
                        </div><!-- end col -->
        
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Informatsion link</h3>
                                </div>
                                <ul class="footer-links">
                                    <li><a hrgit ef="/">Bosh Menu</a></li>
                                    <li><a href="/courses/ielts">Kurslarimiz</a></li>
                                    <li><a href="/blog">Yangiliklar</a></li>
                                    <li><a href="/teachers">Uztozlar</a></li>
                                    <li><a href="/contact">Biz bilan bog'lanish</a></li>
                                </ul><!-- end links -->
                            </div><!-- end clearfix -->
                        </div><!-- end col -->
                        
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Biz bilan aloqaga chiqish</h3>
                                </div>
        
                                <ul class="footer-links">
                                    <li><a href="mailto:#">SmartEdu@gmail.com</a></li>
                                    <li><a href="#">www.Smartedu.com</a></li>
                                    <li>pfshohruh.xasanov@gmail.com</li>
                                    <li>+998 99 593 98 03 </li>
                                </ul><!-- end links -->
                            </div><!-- end clearfix -->
                        </div><!-- end col -->
                        
                    </div><!-- end row -->
                </div><!-- end container -->
            </footer><!-- end footer -->
        
            <div class="copyrights">
                <div class="container">
                    <div class="footer-distributed">
                        <div class="footer-center">                   
                            <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SmartEDU</a> Design By : <a href="https://html.design/">html design</a></p>
                        </div>
                    </div>
                </div><!-- end container -->
            </div><!-- end copyrights -->
        
            <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
        
            <!-- ALL JS FILES -->
            <script src="/js/all.js"></script>
            <!-- ALL PLUGINS -->
            <script src="/js/custom.js"></script>
            <script src="/js/timeline.min.js"></script>
            <script>
                timeline(document.querySelectorAll('.timeline'), {
                    forceVerticalMode: 700,
                    mode: 'horizontal',
                    verticalStartPosition: 'left',
                    visibleItems: 4
                });
            </script>
        </body>
        </html>